node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
__pycache__/
.env
.vscode/
.idea/

# macOS
.DS_Store

# Manual Ignores:
**/__init__.py
**/.flaskenv
/flask-backend/flask_backend_venv311
/flask-backend/app.yaml
/flask-backend/src/services/gcloud.py

